@{
    ViewData["Title"] = Localizer["Shop"];
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"].ToString()
    </div>
}
else
{
    <div class="alert alert-danger">
        @TempData["error"].ToString()
    </div>
}