<div class=WordSection1>

    <p class=MsoTocHeading>Summary</p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906303">
                <span lang=EN-GB>1. Foreward</span><span style='color:windowtext;display:none;
text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906304">
                <span lang=EN-GB>2. Using the Service</span><span style='color:windowtext;display:
none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906305">
                <span lang=EN-GB>3. User Account</span><span style='color:windowtext;display:none;
text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906306">
                <span lang=EN-GB>3.1. Use of the Account.</span><span style='color:windowtext;
display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906307">
                <span lang=EN-GB>3.2. Security.</span><span style='color:windowtext;display:none;
text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906308">
                <span lang=EN-GB>3.3. Password.</span><span style='color:windowtext;display:none;
text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906309">
                <span lang=EN-GB>3.4. Service access to minors.</span><span style='color:windowtext;
display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906310">
                <span lang=EN-GB>3.5. Account suspension and closure.</span><span style='color:windowtext;
display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906311">
                <span lang=EN-GB>4. Pay Services</span><span style='color:windowtext;display:none;
text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906312">
                <span lang=EN-GB>4.1. Payment.</span><span style='color:windowtext;display:none;
text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906313">
                <span lang=EN-GB>4.2. Rates.</span><span style='color:windowtext;display:none;
text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906314">
                <span lang=EN-GB>4.3. Withdrawal period and refund policy.</span><span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906315">
                <span lang=EN-GB>4.4. Minors.</span><span style='color:windowtext;display:none;
text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906316">
                <span lang=EN-GB>5. Use of the Service in test phases (“beta-test”)</span><span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906317">
                <span lang=EN-GB>6. Content submitted by you</span><span style='color:windowtext;
display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906318">
                <span lang=EN-GB>7. Confidentiality</span><span style='color:windowtext;display:none;
text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906319">
                <span lang=EN-GB>8. Intellectual property</span><span style='color:windowtext;
display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906320">
                <span lang=EN-GB>9. Operation of the Service and equipment</span><span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906321">
                <span lang=EN-GB>9.1. Technical restrictions.</span><span style='color:windowtext;
display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906322">
                <span lang=EN-GB>9.2. Temporary closure of the Service.</span><span style='color:
windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc2>
        <span class=MsoHyperlink>
            <a href="#_Toc470906323">
                <span lang=EN-GB>9.3. Changes to and cancellation of the Service.</span><span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906324">
                <span lang=EN-GB>10. Procedures for modification of the contract</span><span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906325">
                <span lang=EN-GB>11. We do not provide any guarantees</span><span style='color:windowtext;
display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906326">
                <span lang=EN-GB>12. Limitation of liability</span><span style='color:windowtext;
display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoToc1>
        <span class=MsoHyperlink>
            <a href="#_Toc470906327">
                <span lang=EN-GB>13. Applicable law</span><span style='color:windowtext;display:none;
text-decoration:none'>..</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
            </a>
        </span>
    </p>

    <p class=MsoNormal>&nbsp;</p>

    <h1><a name="_Toc470906303"></a><span lang=EN-GB>1. Foreward</span></h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The present document constitutes a contract
            between you and DEZEIRAUD Gaëtan, whose headquarters are located at Impasse
            Edith Piaf, 87 220, Boisseuil (France), registered under number 820 609 535
            00019.
        </span>
    </p>

    <p class=MsoNormal><span lang=EN-GB>Email: gaetan.dezeiraud@outlook.com</span></p>

    <p class=MsoNormal><span lang=EN-GB>Publication Director - DEZEIRAUD Gaëtan.</span></p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Within the framework of this contract, the
            company will be designated by the terms “DEZEIRAUD Gaëtan”, “we” or “our”. You
            will be designated as “User”, “you”, “your”. The User is a single natural
            person.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            This agreement covers your use of DEZEIRAUD
            Gaëtan online games, without distinction of the means used to access them (for
            example, whether via our websites, mobile and tablet applications, or any other
            current or future means).
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            When you register to use a DEZEIRAUD Gaëtan
            game, you must be aware of the present contract and your registration implies
            the acceptance of all the provisions within this contract.
        </span>
    </p>

    <p class=MsoNormal><span lang=EN-GB>The DEZEIRAUD Gaëtan sites are hosted by OVH.</span></p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            We do not provide any guarantees as to the
            Service, other than the legal safeguards provided for within the framework of
            applicable legislation.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The cost of the use of the distance
            communication means used is the normal cost invoiced to the User by his or her
            Internet service provider. This cost is borne entirely by the User.
        </span>
    </p>

    <h1>
        <a name="_Toc470906304"></a><a name=2></a><span lang=EN-GB>
            2. Using the
            Service
        </span>
    </h1>

    <p class=MsoNormal><span lang=EN-GB>You must not:</span></p>

    <p class=MsoListParagraphCxSpFirst >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            Use the Service to cause harm to third parties
            or to the Service (for example, you must not use the Service to harm, threaten
            or harass another person, a group of people, an organisation, or DEZEIRAUD
            Gaëtan);
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            damage, put out of service, saturate, or
            deteriorate the Service (or a network connected to the Service);
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            resell or redistribute the Service or a part of
            the Service; use unauthorised means to change or redirect the Service or to
            access it; or try to accomplish said activities;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use of the Service or elements of the Service
            for commercial purposes unless explicit authorisation is granted by DEZEIRAUD
            Gaëtan;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use a process or automated service (such as a
            bot, indexing robot, periodic caching of information recorded by DEZEIRAUD
            Gaëtan, “meta search tools”, or “data mining”) to access or use the Service or
            to copy/extract data from the Service;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use unauthorised software, a service, or a third
            party device to access the Service;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            interrupt or attempt to gain unauthorised access
            to an Account, a computer, hardware, or a network linked to the Service;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            obtain or attempt to obtain data from the
            Service or from associated hardware, with the exception of data that we intend
            to provide you or make available to you;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use the Service or associated hardware to
            design, develop or update unauthorised software;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use or distribute unauthorised tricks, “cheats”,
            “mods”, “hacks”, macros or scripts; or
        </span>
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span lang=EN-GB
              style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            exploit a bug or make unauthorised changes to
            software or data in order to gain an unfair advantage in a game, competition or
            promotion.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            In addition, your use of the Service
            requires that you comply with the DEZEIRAUD Gaëtan Code of Conduct. You agree
            that we are permitted to terminate your access to the Service should you
            perform one of the following actions when connected to the Service:
        </span>
    </p>

    <p class=MsoListParagraphCxSpFirst >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            Defame, insult, assault, abuse, harass, stalk,
            or threaten a third party or infringe in any way the rights (such as the rights
            to privacy and publicity) of third parties;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            publish, distribute or disseminate inappropriate,
            vulgar, defamatory, obscene, indecent, or unlawful content, subject matter,
            names, material, files, or information;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            publish, distribute, or disseminate content,
            subject matter, names, material, files, or information which encourage,
            advocate, promote, depict, constitute, or expose child pornography, blasphemy,
            hatred, bigotry, racism, illegal use of drugs, gratuitous violence or the
            graphic representation of acts of violence, or criminal or fraudulent activity;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>assume the identity of a third party;</span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            create an avatar or insert text of an improper
            character within the Service. This includes any comments which graphically or
            phonetically resemble, support, allude to, shorten, or insinuate the following
            elements: obscene words/phrases/topics, sexual content, hate speech (including,
            but not limited to, racial, ethnic or religious insults), illegal
            drugs/controlled substances, or illegal activities;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use the Service, or the materials or information
            made available through the Service, in a manner that infringes a copyright,
            trademark, patent, trade secret or other proprietary right of DEZEIRAUD Gaëtan
            or a third party;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            upload files that contain viruses, Trojan
            horses, worms, logic bombs, cancelbots, damaged files or similar programs
            likely to alter the operation of the Service, authorised equipment, or other
            property of a third party;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            download or use equipment sent or supplied by
            another User of the Service where you know, or ought reasonably to know, that
            said equipment may not legally be shared nor distributed (unless with explicit
            authorisation from DEZEIRAUD Gaëtan);
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use the Service to participate in pyramid
            schemes or chain letters;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            gather or collect any manner of information
            whatsoever regarding third parties, including e-mail addresses, without their
            authorisation;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            to use phishing techniques or create a false
            identity under any other form with the intention of deceiving others;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            falsify or delete any copyrights, legal notices,
            a designations of ownership, or labels mentioning the origin or source of software
            or other material included in a transferred file;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            file false complaints or provide false comments
            regarding other Users of the Service;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            use, download, copy, or provide in any manner
            (free or not) to a third party: (i) a directory of Users of the Service, (ii)
            information on the Users of the Service, or (iii) information on the use of the
            Service;
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            consult, intercept or attempt to intercept
            private communications not intended for you; or
        </span>
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span lang=EN-GB
              style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            unless explicit authorisation is granted by
            DEZEIRAUD Gaëtan, use the communication tools provided by the Service to
            provide or offer to provide other external services or links to other external
            services to the services of DEZEIRAUD Gaëtan (“spam”).
        </span>
    </p>

    <h1><a name="_Toc470906305"></a><a name=3></a><span lang=EN-GB>3. User Account</span></h1>

    <h2>
        <a name="_Toc470906306"></a><a name=3.1></a><span lang=EN-GB>
            3.1. Use of
            the Account.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Any person who wishes to use one of the
            services offered on the Service must first open an Account. The opening of the
            Account is free. At the time of registration, you agree to provide accurate
            data, and to inform us of any changes to such data.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            ONLY you can use YOUR ACCOUNT and you can
            only use A SINGLE ACCOUNT.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You must not disclose your password, nor
            must you authorise a third party to access or use the Service via your Account.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Any&nbsp;loan, sharing, exchange, gift, or
            sale&nbsp;of an Account is&nbsp;strictly forbidden.
        </span>
    </p>

    <p class=MsoNormal><span lang=EN-GB>You must not access the Account of others.</span></p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The use of any Account used by more than
            one person is specified as an “Account loan”.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The use and/or creation of more than one
            Account per person is specified as “Multi-Account use”. These two uses are
            strictly prohibited.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan may conduct audits to
            ensure compliance with these conditions. Any offence may be liable to the
            permanent deletion of your Account and the Accounts in offence without notice
            or compensation.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan reserves the right to
            limit the number of registrations and use of Accounts per household.
        </span>
    </p>

    <h2><a name="_Toc470906307"></a><a name=3.2></a><span lang=EN-GB>3.2. Security.</span></h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You are responsible for the security of
            your Account and the reliability of your connection data.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan disclaims all liability in
            the event of access to an Account by a third person (including when the
            identification on our Service is carried out via a third party service, as for
            example Google or Facebook). You are the only one responsible for the
            activities undertaken through your Account. You must not allow a third party to
            access and/or use the Service on your behalf.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If you suspect a misuse of your Account or
            any other breach of security of the Service, you must notify us immediately via
            the User support site (
        </span><a href="mailto:gaetan.dezeiraud@outlook.com">
            <span lang=EN-GB>gaetan.dezeiraud@outlook.com</span>
        </a><span lang=EN-GB>).</span>
    </p>

    <h2><a name="_Toc470906308"></a><a name=3.3></a><span lang=EN-GB>3.3. Password.</span></h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The User can choose a password when
            registering to the Service, (or at a later date). It is strictly confidential
            and should never be communicated to a third party. DEZEIRAUD Gaëtan can put in
            place automated procedures allowing the User to retrieve or change a password.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            To retrieve a forgotten password, the User
            must have indicated in advance a means, among those proposed by the Service, to
            transmit information in a confidential manner (indicating an e-mail address for
            example). The User is solely responsible for any information sent by this
            means.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If no means of password recovery has been
            specified beforehand by the User, the password will not be transmitted.
        </span>
    </p>

    <h2>
        <a name="_Toc470906309"></a><a name=3.4></a><span lang=EN-GB>
            3.4. Service
            access to minors.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Minors may not open an Account or use the
            Service unless assisted by a legal guardian, and under the full responsibility
            of the latter.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Also, if you authorise or allow a minor to
            open an Account, and play on the Service:
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You declare that you are the parent or
            legal guardian of this minor;
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            you acknowledge that you are aware that
            certain features of the Service, or content available through the Service, may
            contain or expose Users to material that is not suitable for minors, and you
            agree to monitor the use of the Service by the minors to whom you have given
            authorisation to use the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan insists on the fact that
            it is prohibited to disseminate content not suitable for minors when the latter
            is likely to be seen by a minor.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Any games not suitable for minors will be
            duly reported upon registration to the Service, and it is up to you not to
            allow access to these games to minors.
        </span>
    </p>

    <h2>
        <a name="_Toc470906310"></a><a name=3.5></a><span lang=EN-GB>
            3.5. Account
            suspension and closure.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            At any time DEZEIRAUD Gaëtan may, without
            notice, proceed:
        </span>
    </p>

    <p class=MsoListParagraphCxSpFirst >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            To the temporary suspension of access to your
            Account, in the case of suspicion of misuse of our Services;
        </span>
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span lang=EN-GB
              style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            the blocking or permanent closure of a User
            Account following a breach of one or more provisions of this contract.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If the Service is not used by the User for
            a period exceeding 12 consecutive months, DEZEIRAUD Gaëtan can proceed to the
            automatic closure of the unused Account.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The User can also proceed to the closure of
            his or her Account - the procedure is accessible from his or her personal space
            of the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Except as otherwise provided for in this
            contract or upon explicit agreement from DEZEIRAUD Gaëtan, there are no refunds
            in the event of suspension or closure of the Account by the User or by
            DEZEIRAUD Gaëtan.
        </span>
    </p>

    <h1><a name="_Toc470906311"></a><a name=4></a><span lang=EN-GB>4. Pay Services</span></h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Most of the services offered by DEZEIRAUD
            Gaëtan are free of charge.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            However, some bonuses, options, accesses
            and other services may be chargeable. The User who wishes to have access to
            these services will therefore make a payment to DEZEIRAUD Gaëtan.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Various means of payment are available to
            the User. The price and the elements obtained may vary depending on the chosen
            means of payment. This information is shown to the User in the payment section.
        </span>
    </p>

    <h2><a name="_Toc470906312"></a><a name=4.1></a><span lang=EN-GB>4.1. Payment.</span></h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            When you have chosen a means of payment,
            you must be authorised to use this means of payment and you must agree to
            provide information that is valid, accurate, and up-to-date.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If you discontinue the use of the Service
            or if you close your Account, this has no impact on the amounts already billed
            and no refunds will be made.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If DEZEIRAUD Gaëtan detects a fraudulent
            payment from your Account, your Account will be permanently suspended.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan or its payment service
            providers can restrict access to certain means of payment as a precautionary
            measure, following a suspicious use of attempted fraud.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You will have the opportunity to check the
            details of your purchase and the total price, and to correct any errors, before
            to confirming payment.
        </span>
    </p>

    <h2><a name="_Toc470906313"></a><a name=4.2></a><span lang=EN-GB>4.2. Rates.</span></h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You will find the detailed prices of the
            Service in the payment section of the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Some costs are not dependent on DEZEIRAUD
            Gaëtan or its payment service providers. These costs can be related to
            telecommunication operator services and currency exchange, for example.
            DEZEIRAUD Gaëtan warns (where possible) when additional charges may be added to
            the final price.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            We can occasionally change the Service rate
            and you will be notified via a global communication on the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            All pricing and offers proposed by
            DEZEIRAUD Gaëtan are valid for the duration of their implementation online.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If your offer of Service is subject to a
            rate and a specific duration of time, and we modify the rate of the Service,
            the original rate remains in force for the entire duration specified.
        </span>
    </p>

    <h2>
        <a name="_Toc470906314"></a><a name=4.3></a><span lang=EN-GB>
            4.3.
            Withdrawal period and refund policy.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You have a period of fourteen days to
            exercise your right of withdrawal without having to justify reasons or pay any
            penalties. This period runs from the acceptance of the offer for the provision
            of services, in accordance with article L121-21 of the consumer code.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            When this right is exercised, all sums paid
            will be refunded within a maximum period of thirty days.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan draws the attention of the
            User to the fact that, by virtue of article L121-21-5 of the consumer code, no
            withdrawal period will be granted if, with his or her agreement, the execution
            of the Service started prior to the expiry of the period of fourteen days.
        </span>
    </p>

    <p class=MsoNormal><span lang=EN-GB>Requests for refunds should be sent:</span></p>

    <p class=MsoNormal><span lang=EN-GB>Via the Support service (gaetan.dezeiraud@outlook.com)</span></p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Or by post to the following address:<br>
            DEZEIRAUD Gaëtan<br>
            Impasse Edith Piaf<br>
            87220 Boisseuil<br>
            FRANCE&nbsp;
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The requests must contain the coordinates
            of the plaintiff, the object and the date of payment, the means of payment
            used, the Service and the username of the User Account in question, as well as
            a proof of payment (invoice or receipt for example) if the latter was not paid
            by credit card or PayPal.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Incomplete applications, or those that fall
            outside the deadline, shall not give rise to any refunds.
        </span>
    </p>

    <h2><a name="_Toc470906315"></a><a name=4.4></a><span lang=EN-GB>4.4. Minors.</span></h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Minors may use the Service, under the full
            responsibility of a legal guardian.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The minor who uses the Service shall make
            all payments in the presence and with the explicit agreement of his or her
            legal guardian.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            No appeal/claim, particularly with regard
            to payments, is admissible from DEZEIRAUD Gaëtan.
        </span>
    </p>

    <h1>
        <a name="_Toc470906316"></a><a name=5></a><span lang=EN-GB>
            5. Use of the
            Service in test phases (“beta-test”)
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            During the beta-test phase, the User is
            prompted to perform volunteer feedback on the Service in order to assist in the
            completion of the Service before its full implementation online. He or she
            undertakes not to disclose any of the content of the Service during this period
            and he or she accepts that the Service is subject to modifications and
            interruptions given the context of experimentation. The User acknowledges that
            he or she has no right to compensation following collaboration during the
            “beta-test” phase.
        </span>
    </p>

    <h1>
        <a name="_Toc470906317"></a><a name=6></a><span lang=EN-GB>
            6. Content
            submitted by you
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You can edit content - in parts of the
            Service provided for this purpose.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Editing can take place in areas accessible
            to all, (for example - the forum of a game, or the public details of the User),
            or in areas for which you can control third party access (for example - private
            messaging or a player group). You acknowledge and agree that DEZEIRAUD Gaëtan
            does not control nor assume responsibility for the content that you and third
            parties put online.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You grant to DEZEIRAUD Gaëtan, global,
            gratis, non-exclusive, and for the duration of your rights, the authorisation:
        </span>
    </p>

    <p class=MsoListParagraphCxSpFirst >
        <span lang=EN-GB style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            To use, modify, to represent, to reproduce,
            distribute, and display your content in connection with the Service - to which
            you have given authorisation to access;
        </span>
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span lang=EN-GB
              style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=EN-GB>
            to publish your name, avatar, or other
            information that you provide in connection with the content.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If you submit a photograph or another
            digital image, you explicitly waive the rights of privacy and publicity
            relating to the image, and allow DEZEIRAUD Gaëtan to the broadcast it on the
            Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You are requested to respect the rights of
            artists, inventors, and creators. All content such as music, photos and videos
            may be protected by copyright law. If you share the content on the Service in a
            manner that infringes the rights of copyright, intellectual property rights, or
            the privacy of third parties, you are in breach of this contract. You represent
            and guarantee that you own all the rights necessary to grant the authorisations
            mentioned in this article and that the use of this content does not violate any
            law. We may refuse to publish your content for whatever reason. We may at any
            time withdraw your content from the Service if you breach this Agreement or if
            we cancel or suspend the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan reserves the right to
            change the Account names, nicknames, the names of characters, and the names of
            user groups not complying with the rules set forth in the article of Service
            Use (article 2). DEZEIRAUD Gaëtan may also temporarily or permanently suspend
            Account access or user groups without notice or compensation.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If you feel that content clearly infringes
            on your rights, you can report it to DEZEIRAUD Gaëtan via the support site (gaetan.dezeiraud@outlook.com)
            or by other means specified in the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If we believe the content is clearly
            illicit, we will proceed to its deletion.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Taking into account the general interest
            attached to the suppression of illegal activities, DEZEIRAUD Gaëtan has put in
            place provisions accessible at the following address: gaetan.dezeiraud@outlook.com.
            This allows the Users to report to the communication services and any serious
            wrongdoing will be passed on to the competent public authorities in the matter.
            DEZEIRAUD Gaëtan also informs you of the risks incurred by the User through the
            use of games made in violation of the law.
        </span>
    </p>

    <h1>
        <a name="_Toc470906318"></a><a name=7></a><span lang=EN-GB>
            7.
            Confidentiality
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            In order to operate and to provide the
            Service, we collect certain information about you. We protect this information.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You are informed that your personal data
            may be disclosed to third parties to meet legal or regulatory requirements. In
            addition, the information about you may be used in order to act in good faith
            when such access or disclosure appears necessary to protect the personal safety
            of employees of DEZEIRAUD Gaëtan, customers, or the public.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The personal data collected by DEZEIRAUD
            Gaëtan is mainly stored and used in France, but it may also be stored or used
            in any other country where DEZEIRAUD Gaëtan or one of its providers has
            servers.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            In order to provide you with the Service
            and to improve the Service, we, or our providers, can collect certain
            information relating to the performance of the Service, to the use you make of
            the Service, and to your equipment.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Some data about you can be communicated to
            our providers only within the framework of a need related to the technical
            operation or marketing of the Service. Outside of this framework, DEZEIRAUD
            Gaëtan undertakes not to distribute, disseminate, transmit in any form, or
            publish your information to affiliates, resellers, suppliers, or other third
            parties.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan undertakes to respect the
            security of the collection, use, and retention of your information and personal
            data.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            For the correct functioning of our Internet
            sites and of our applications, we use cookies. These are small files stored by
            an application or an Internet browser. By using our services you accept the use
            of these cookies.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            In application of Act No. 78-17 of January
            6, 1978 relating to computing, files and freedoms, as amended by Act
            No.2004-801 of 6 August 2004 of the French territory, Users have the right to
            access, oppose (art. 38 of the Act), question (art. 39 of the Act), and
            rectify/delete (art. 40 of the Act) of personal data concerning them. You can
            exercise your right by contacting us by post and by indicating your names,
            forenames, e-mail address, home address and evidence of your identity. All
            requests should be sent to the address indicated previously.
        </span>
    </p>

    <h1>
        <a name="_Toc470906319"></a><a name=8></a><span lang=EN-GB>
            8. Intellectual
            property
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan is the copyright licensee
            of the Service and its contents, including all software and databases, as well
            as owner of the sui generis rights applied to databases.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            All the elements constituting the Service -
            including trademarks, domain names, text, data, structure, webspace, thesaurus,
            headings, logos, graphics, images, photographs, names, games, characters as
            well as the Service itself, are the exclusive property of DEZEIRAUD
            Gaëtan.&nbsp;
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Any extraction, reuse, representation,
            reproduction, exploitation, adaptation, translation, modification or sale of the
            Service or all/part of its contents is prohibited, unless explicit prior
            authorisation is granted by DEZEIRAUD Gaëtan.&nbsp;
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The User is prohibited to communicate to
            any third party, free of charge or not, any data retrieved from the Service,
            including any entity linked to him or her administratively, financially or
            commercially.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan can freely change the
            presentation of the Service and its contents.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            All elements, features, tools, and
            documents which are part of the Service provided by DEZEIRAUD Gaëtan (not
            limited to the game, client, characters, game accounts, objects, graphic
            charter, logos, music, software, servers, etc.) are protected by French law and
            international copyright and are the intellectual property of DEZEIRAUD Gaëtan.
            You cannot use these elements without the prior written authorisation of
            DEZEIRAUD Gaëtan.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You do not have the right, in whole or
            part, to copy, reproduce, translate, extract, or modify the source code,
            disassemble, decompile, modify, rent, sell, distribute or create derivative
            works based on the Service or the content without the prior written
            authorisation of DEZEIRAUD Gaëtan. Reverse engineering is strictly prohibited.
        </span>
    </p>

    <h1>
        <a name="_Toc470906320"></a><a name=9></a><span lang=EN-GB>
            9. Operation of
            the Service and equipment
        </span>
    </h1>

    <h2>
        <a name="_Toc470906321"></a><a name=9.1></a><span lang=EN-GB>
            9.1. Technical
            restrictions.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You must not seek to circumvent the
            technical restrictions of the Service. You are prohibited to decompile, create
            derivative works of, reverse engineer, modify, sublicense, distribute, or use
            the Service for purposes other than those permitted by DEZEIRAUD Gaëtan. The
            violation of this provision may result in the permanent closure of your Account
            and/or your ability to access the Service. DEZEIRAUD Gaëtan can take legal
            action against a User who is detrimental to the security of the DEZEIRAUD
            Gaëtan network or systems.
        </span>
    </p>

    <h2>
        <a name="_Toc470906322"></a><a name=9.2></a><span lang=EN-GB>
            9.2. Temporary
            closure of the Service.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            DEZEIRAUD Gaëtan may temporarily pause,
            with or without prior notice, access to all or a portion of the Service, for
            any reason, but particularly in the event of automatic or manual maintenance.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            You cannot claim any damages, for loss of
            profits relating to the Service or not, special, indirect, incidental, or
            punitive results due to a temporary closure of the Service.
        </span>
    </p>

    <h2>
        <a name="_Toc470906323"></a><a name=9.3></a><span lang=EN-GB>
            9.3. Changes
            to and cancellation of the Service.
        </span>
    </h2>

    <p class=MsoNormal>
        <span lang=EN-GB>
            We can modify the Service in its entirety
            or certain functionalities, certain games or any other content at any moment,
            for whatever reason (with or without motive) and without prior notice.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            We can totally and permanently close the
            Service for whatever reason. However DEZEIRAUD Gaëtan undertakes to comply with
            a minimum period of 12 consecutive months between the closure of means of
            payments and the final closure of the Service. This period allows users to use
            their credits, bonuses, or any other items acquired by a means of payment.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            No refund will be made in case of modification
            or closure of the Service.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Your right to use the Service expires upon
            the closing of the Service. Once the Service closes, it may be that the data
            that you have stored on the Service is no longer recoverable.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Our closing the Service does not affect
            your obligation to pay all charges to your billing account for the amounts
            incurred prior to the closure of the Service.
        </span>
    </p>

    <h1>
        <a name="_Toc470906324"></a><a name=10></a><span lang=EN-GB>
            10. Procedures
            for modification of the contract
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            We can change the present contract. If we
            change the present contract, we will notify you within seven (7) days. The
            legal notices can be modified at any time: they are nevertheless imposed on the
            user who is invited to refer to them as often as possible in order to take
            cognizance of them.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            Continued use of the Service will require
            acceptance of the new contract on your part.
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-GB>
            If you do not accept the contract, you have
            the right to close your account at any time and for any reason whatsoever.
            Consult section 3.5 for further details.
        </span>
    </p>

    <h1>
        <a name="_Toc470906325"></a><a name=11></a><span lang=EN-GB>
            11. We do not
            provide any guarantees
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            We provide the Service “as is”, “with all
            its imperfections” and “as available”. We do not guarantee the accuracy or
            timeliness of the information available from the Service. You acknowledge and
            agree that the computing and telecommunications systems are not free of defects
            and that operational downtimes may occur. We cannot guarantee that the Service
            will be uninterrupted, timely, or error-free. We and our service providers give
            no explicit guarantees or conditions. You get all the guarantees provided for
            by the law, but we do not provide any further guarantees. We exclude all
            implied guarantees, including those of merchantability, fitness for a
            particular purpose, absence of manufacturing defects and absence of
            counterfeiting.
        </span>
    </p>

    <h1>
        <a name="_Toc470906326"></a><a name=12></a><span lang=EN-GB>
            12. Limitation
            of liability
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            To the extent permitted by the French
            legislation in force, in the event of a claim, you can only obtain from
            DEZEIRAUD Gaëtan damages and interest which may not exceed the amount of your
            various purchases made through the Service. You cannot claim any other
            damage-interest, including consequential damages for loss of profit whether
            special, indirect, incidental, or punitive.
        </span>
    </p>

    <h1>
        <a name="_Toc470906327"></a><a name=13></a><span lang=EN-GB>
            13. Applicable
            law
        </span>
    </h1>

    <p class=MsoNormal>
        <span lang=EN-GB>
            The present contract is subject to French
            law, without prejudice to the mandatory provisions of the Rome convention
            80/934/ECC.<a name=14></a>
        </span>
    </p>

</div>