<div class=WordSection1>
    <p class=MsoTocHeading>Table des matières</p>

    <p class=MsoToc1>
        <a href="#_Toc470719208">
            1. Préambule<span style='color:windowtext;
display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719209">
            2. Utilisation du Service<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>1</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719210">
            3. Compte d'Utilisateur<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>3</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719211">
            3.1. Utilisation du Compte.<span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>3</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719212">
            3.2. Sécurité.<span style='color:
windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>3</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719213">
            3.3. Mot de passe.<span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>4</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719214">
            3.4. Accès du service aux mineurs.<span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>4</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719215">
            3.5. Suspension et fermeture de
            Compte.<span style='color:windowtext;display:none;text-decoration:none'> </span><span style='color:windowtext;display:none;text-decoration:none'>4</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719216">
            4. Services payants<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>5</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719217">
            4.1. Paiement.<span style='color:
windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>5</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719218">
            4.2. Tarifs.<span style='color:windowtext;
display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>5</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719219">
            4.3. Délai de rétractation et
            politique de remboursement.<span style='color:windowtext;display:none;
text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>6</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719220">
            4.4. Mineurs.<span style='color:windowtext;
display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>6</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719221">
            5. Utilisation du Service en période
            de test (« bêta-test »)<span style='color:windowtext;display:none;text-decoration:
none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>6</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719222">
            6. Contenu soumis par vous<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>7</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719223">
            7. Confidentialité<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>8</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719224">
            8. Propriété intellectuelle<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>8</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719225">
            9. Fonctionnement du Service et
            équipement<span style='color:windowtext;display:none;text-decoration:none'>. </span><span style='color:windowtext;display:none;text-decoration:none'>9</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719226">
            9.1. Restrictions techniques.<span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>9</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719227">
            9.2. Fermeture temporaire du Service.<span style='color:windowtext;display:none;text-decoration:none'></span><span style='color:windowtext;display:none;text-decoration:none'>9</span>
        </a>
    </p>

    <p class=MsoToc2>
        <a href="#_Toc470719228">
            9.3. Modifications et annulation du
            Service.<span style='color:windowtext;display:none;text-decoration:none'> </span><span style='color:windowtext;display:none;text-decoration:none'>9</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719229">
            10. Modalités de modification du
            contrat<span style='color:windowtext;display:none;text-decoration:none'>. </span><span style='color:windowtext;display:none;text-decoration:none'>10</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719230">
            11. Nous ne fournissons aucune
            garantie<span style='color:windowtext;display:none;text-decoration:none'>. </span><span style='color:windowtext;display:none;text-decoration:none'>10</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719231">
            12. Limitation de responsabilité<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>10</span>
        </a>
    </p>

    <p class=MsoToc1>
        <a href="#_Toc470719232">
            13. Droit applicable<span style='color:windowtext;display:none;text-decoration:none'>.</span><span style='color:windowtext;display:none;text-decoration:none'>10</span>
        </a>
    </p>

    <p class=MsoNormal>&nbsp;</p>

    <span style='font-size:11.0pt;line-height:107%;font-family:"Calibri",sans-serif'>
        <br clear=all style='page-break-before:always'>
    </span>


    <h1><a name="_Toc470719208"></a>1. Préambule</h1>

    <p class=MsoNormal>
        Le présent document constitue un contrat entre vous et la
        société DEZEIRAUD Gaëtan, dont le siège social est situé Impasse Edith Piaf, 87
        220, Boisseuil (France), immatriculée 820 609 535 00019.
    </p>

    <p class=MsoNormal>Email&nbsp;: gaetan.dezeiraud@outlook.com</p>

    <p class=MsoNormal>Le directeur de publication est DEZEIRAUD Gaëtan.</p>

    <p class=MsoNormal>
        Dans le cadre de ce contrat, nous serons désignés par les
        termes « DEZEIRAUD Gaëtan », « nous », « nos » ou « notre ». Vous serez désigné
        comme « Utilisateur », « vous », « vos » ou « votre ». L'Utilisateur est une
        seule et unique personne physique.
    </p>

    <p class=MsoNormal>
        Ce contrat couvre votre utilisation des jeux en ligne de DEZEIRAUD
        Gaëtan, sans distinction du moyen utilisé pour y accéder (que ce soit par
        exemple sur nos sites Internet, nos applications pour mobiles et tablettes, ou
        tout autre moyen actuel ou futur).
    </p>

    <p class=MsoNormal>
        En vous inscrivant sur le jeu appartenant à DEZEIRAUD Gaëtan,
        vous devez avoir pris connaissance du présent contrat et l'inscription vaut
        acceptation de l'ensemble des dispositions du présent contrat.
    </p>

    <p class=MsoNormal>Les sites de DEZEIRAUD Gaëtan sont hébergés par OVH.</p>

    <p class=MsoNormal>
        Nous ne fournissons aucune garantie quant au Service, autres
        que les garanties légales fournies dans le cadre de la législation applicable.
    </p>

    <p class=MsoNormal>
        Le coût de l’utilisation de la technique de communication à
        distance utilisée est le coût normal facturé à l’Utilisateur par son
        fournisseur d’accès internet. Ce coût est entièrement supporté par
        l’Utilisateur.
    </p>

    <h1><a name="_Toc470719209"></a><a name=2></a>2. Utilisation du Service</h1>

    <p class=MsoNormal>Vous ne devez pas :</p>

    <p class=MsoListParagraphCxSpFirst >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser le Service pour nuire à des tiers ou au Service (par
        exemple, vous ne devez pas utiliser le Service pour nuire, menacer ou harceler
        une autre personne, un groupe de personnes, un organisme ou DEZEIRAUD Gaëtan) ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Endommager, mettre hors service, saturer ou détériorer le Service
        (ou un réseau connecté au Service) ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Revendre ou redistribuer le Service ou une partie du Service ;
        utiliser un moyen non autorisé pour modifier ou rediriger le Service ou pour y
        accéder ; ou tenter d'accomplir ces activités ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser le Service ou des éléments du Service à des fins
        commerciales sauf autorisation explicite de notre part;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser un processus ou service automatisé (tel qu'un bot, un robot
        d'indexation, la mise en mémoire cache périodique des informations enregistrées
        par DEZEIRAUD Gaëtan ou « métarecherche », « datamining ») pour accéder ou
        utiliser le Service ou pour copier ou extraire les données sur le Service ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser un logiciel, un service ou un périphérique tiers non
        autorisé pour accéder au Service ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Interrompre ou tenter d'obtenir un accès non autorisé à un
        compte, un ordinateur, un matériel ou un réseau lié au Service ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Obtenir ou tenter d'obtenir des données du Service ou du matériel
        associé, à l'exception des données que nous avons l'intention de vous fournir
        ou de rendre disponibles ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser le Service ou le matériel associé pour concevoir,
        développer ou mettre à jour des logiciels non autorisés ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser ou distribuer des astuces, « cheats », « mods », « hacks
        », macros ou scripts non autorisés ; ou
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Exploiter un bug ou apporter des modifications non autorisées à
        un logiciel ou à des données afin d'en tirer indûment parti dans un jeu, une
        compétition ou une promotion.
    </p>

    <p class=MsoNormal>
        En outre, votre utilisation du Service implique que vous
        vous conformiez au Code de conduite de DEZEIRAUD Gaëtan. Vous acceptez que nous
        puissions également interrompre votre accès au Service si vous effectuez l'une
        des actions suivantes lorsque vous êtes connecté au Service :
    </p>

    <p class=MsoListParagraphCxSpFirst >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Diffamer, injurier, violenter, abuser, harceler, traquer, menacer
        un tiers ou enfreindre de quelque manière que ce soit les droits (tels que les
        droits au respect de la vie privée et la publicité) des tiers ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Publier, distribuer ou diffuser du contenu, un sujet, un nom, du
        matériel, un fichier ou des informations inappropriés ou à caractère grossier,
        diffamatoire, obscène, indécent ou illégal ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Publier, distribuer ou diffuser du contenu, un sujet, un nom, du
        matériel, un fichier ou des informations qui incitent, préconisent, promeuvent,
        dépeignent, constituent ou exposent la pédopornographie, le blasphème, la
        haine, la bigoterie, le racisme, l'utilisation illégale de drogue, la violence
        gratuite ou la représentation graphique d'actes de violence, ou une activité
        criminelle ou frauduleuse ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Usurper l’identité d’un tiers ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Créer un avatar ou insérer du texte à caractère outrageant dans
        le Service. Ceci inclut les commentaires qui ressemblent graphiquement ou
        phonétiquement, soutiennent, font allusion, abrègent ou insinuent les éléments
        suivants : mots ou expressions obscènes, sujets ou contenus à caractère sexuel,
        discours de haine (y compris, mais sans s'y limiter, les injures raciales,
        ethniques ou religieuses), drogues illégales/substances contrôlées, ou
        activités illégales ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser le Service, ou du matériel ou des informations rendus
        disponibles par l'intermédiaire du Service, d'une manière qui porte atteinte à
        un droit d'auteur, une marque commerciale, un brevet, un secret commercial ou à
        d'autres droits de propriété de DEZEIRAUD Gaëtan ou d'un tiers ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Charger des fichiers qui contiennent des virus, des chevaux de
        Troie, des vers, des bombes logiques, des robots d'annulation de message, des
        fichiers endommagés ou des programmes similaires susceptibles d'altérer le
        fonctionnement du Service, de l'équipement autorisé ou autre bien d'un tiers ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Télécharger ou utiliser du matériel envoyé ou fourni par un autre
        Utilisateur du Service dont vous savez, ou devez raisonnablement savoir, qu'il
        ne peut pas être légalement partagé ni distribué (sauf autorisation explicite
        de notre part) ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser le Service pour participer à des ventes pyramidales ou à
        des chaînes de lettres ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Récolter ou collecter de quelque manière que ce soit des
        informations concernant des tiers, y compris leurs adresses électroniques, et
        ce sans leur consentement ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Faire de l’hameçonnage (« phishing ») ou créer une fausse
        identité sous n'importe quelle autre forme dans l'intention de tromper autrui ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Falsifier ou supprimer un droit d'auteur, un avis légal, une
        désignation de propriété ou des étiquettes mentionnant l'origine ou la source
        du logiciel ou d'un autre matériel compris dans un fichier transféré ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Déposer de fausses plaintes ou fournir de faux commentaires
        concernant d'autres Utilisateurs du Service ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Utiliser, télécharger, copier ou fournir de quelque manière que
        ce soit (gratuitement ou non) à un tiers : (i) un annuaire des Utilisateurs du
        Service, (ii) des informations concernant les Utilisateurs du Service ou (iii)
        des informations sur l'utilisation du Service ;
    </p>

    <p class=MsoListParagraphCxSpMiddle >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Consulter, intercepter ou tenter d'intercepter des communications
        privées qui ne vous sont pas destinées ; ou
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>Sauf autorisation explicite de notre part, utiliser les outils de
        communication fournis par le Service pour fournir ou proposer de fournir
        d'autres services externes ou des liens vers d'autres services externes à
        l'ensemble de services de DEZEIRAUD Gaëtan (« spam »).
    </p>

    <h1><a name="_Toc470719210"></a><a name=3></a>3. Compte d'Utilisateur</h1>

    <h2><a name="_Toc470719211"></a><a name=3.1></a>3.1. Utilisation du Compte.</h2>

    <p class=MsoNormal>
        Toute personne qui souhaite utiliser un des services
        proposés sur le Service doit préalablement ouvrir un Compte. L’ouverture de
        Compte est gratuite. Lors de l’inscription, vous vous engagez à communiquer des
        données exactes, et à nous informer de toute modification de ces données.
    </p>

    <p class=MsoNormal>
        Vous SEUL pouvez utiliser VOTRE COMPTE et vous ne pouvez
        utiliser qu'UN COMPTE UNIQUE.
    </p>

    <p class=MsoNormal>
        Vous ne devez pas révéler votre mot de passe, ni ne devez
        autoriser un tiers à accéder ou à utiliser le Service avec votre Compte.
    </p>

    <p class=MsoNormal>
        Tout&nbsp;prêt, partage, échange, don ou vente&nbsp;de
        Compte est&nbsp;strictement interdit.
    </p>

    <p class=MsoNormal>Vous ne devez pas accéder au Compte d'autrui.</p>

    <p class=MsoNormal>
        L'usage de tout Compte utilisé par plus d'une personne est
        spécifié comme «&nbsp;prêt de Compte&nbsp;».
    </p>

    <p class=MsoNormal>
        L'utilisation et/ou création de plus d'un Compte par une
        personne est spécifié comme « usage de multi-comptes&nbsp;». Ces deux usages
        sont strictement interdits.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan peut procéder à des vérifications pour
        s'assurer du respect de ces conditions. Toute infraction peut être passible de
        suppression définitive de votre Compte et des comptes en infraction sans
        préavis ni dédommagement.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan se réserve le droit de limiter le nombre
        d'inscriptions et d'usage de comptes par foyer.
    </p>

    <h2><a name="_Toc470719212"></a><a name=3.2></a>3.2. Sécurité.</h2>

    <p class=MsoNormal>
        Vous êtes responsable de la sécurité de votre Compte et de
        la fiabilité de vos données de connexion.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan se dégage de toute responsabilité en cas
        d'accès au Compte par une tierce personne (y compris lorsque l'identification
        sur notre Service s'effectue via un service tiers, comme par exemple Google ou
        Facebook). Vous êtes le seul responsable de toutes les activités entreprises
        avec votre Compte. Vous ne devez pas autoriser un tiers à accéder et/ou
        utiliser le Service en votre nom.
    </p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>
        Si vous soupçonnez une utilisation abusive de votre Compte
        ou toute autre faille de sécurité du Service, vous devez nous en aviser
        immédiatement via le site d'assistance à l'Utilisateur (<a href="mailto:gaetan.dezeiraud@outlook.com">gaetan.dezeiraud@outlook.com</a> ou 
        Discord).
    </p>

    <h2><a name="_Toc470719213"></a><a name=3.3></a>3.3. Mot de passe.</h2>

    <p class=MsoNormal>
        L'Utilisateur peut choisir un mot de passe lors de
        l’inscription sur le service, ou ultérieurement.&nbsp;Il est strictement
        confidentiel et ne doit jamais être communiqué à un tiers. DEZEIRAUD Gaëtan
        peut mettre en place des procédures automatisées permettant à l'Utilisateur de
        retrouver ou de modifier son mot de passe.
    </p>

    <p class=MsoNormal>
        Pour récupérer un mot de passe oublié, l'Utilisateur devra
        avoir indiqué au préalable un moyen, parmi ceux proposés sur le service, de lui
        transmettre des informations de manière confidentielle (en indiquant son
        adresse électronique par exemple). L'Utilisateur est le seul responsable des
        informations transmises par ce moyen.
    </p>

    <p class=MsoNormal>
        Si aucun moyen de récupération de mot de passe n'a été
        indiqué au préalable par l'Utilisateur, le mot de passe ne pourra pas être
        transmis.
    </p>

    <h2>
        <a name="_Toc470719214"></a><a name=3.4></a>3.4. Accès du service aux
        mineurs.
    </h2>

    <p class=MsoNormal>
        Les mineurs ne peuvent ouvrir un Compte et utiliser le
        Service qu’assistés de leur représentant légal, et sous l’entière
        responsabilité de ce dernier.
    </p>

    <p class=MsoNormal>
        Aussi, si vous autorisez ou permettez à un mineur d’ouvrir
        un Compte, et de jouer sur le Service :
    </p>

    <p class=MsoNormal>
        Vous déclarez être le parent ou le tuteur légal de ce mineur
        ;
    </p>

    <p class=MsoNormal>
        Vous reconnaissez être au courant que certaines
        fonctionnalités du Service ou certains contenus disponibles par l'intermédiaire
        du Service, peuvent contenir ou exposer les Utilisateurs à du matériel ne
        convenant pas à des mineurs, et vous acceptez de surveiller l'utilisation du
        Service par les mineurs auxquels vous avez donné l'autorisation d'utiliser le
        Service.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan insiste sur le fait qu’il est interdit de
        diffuser un contenu ne convenant pas à des mineurs dès lors que celui-ci est
        susceptible d’être vu par un mineur.
    </p>

    <p class=MsoNormal>
        Les jeux à caractère ne convenant pas à des mineurs seront
        dument signalés lors de l'inscription au Service, et il vous appartient de ne
        pas autoriser l’accès à ces jeux aux mineurs.
    </p>

    <h2>
        <a name="_Toc470719215"></a><a name=3.5></a>3.5. Suspension et fermeture de
        Compte.
    </h2>

    <p class=MsoNormal>
        À tout moment DEZEIRAUD Gaëtan peut, sans préavis, procéder
        :
    </p>

    <p class=MsoListParagraphCxSpFirst >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>à la suspension temporaire de votre accès à votre Compte, en cas
        de suspicion d'utilisation abusive de nos services;
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>au blocage ou à la fermeture définitive d'un Compte d'Utilisateur
        en sanction suite à une violation d'une ou de plusieurs dispositions du présent
        contrat.
    </p>

    <p class=MsoNormal>
        Si le Service n'est pas utilisé par l'Utilisateur pendant
        une période excédant 12 mois consécutifs, DEZEIRAUD Gaëtan peut procéder à la
        fermeture automatique du Compte inutilisé.
    </p>

    <p class=MsoNormal>
        L'Utilisateur peut également procéder lui-même à la
        fermeture de son Compte, procédure accessible depuis son espace personnel du
        Service.
    </p>

    <p class=MsoNormal>
        Sauf mention contraire dans le présent contrat ou accord
        exceptionnel de DEZEIRAUD Gaëtan, il ne sera procédé à aucun remboursement en
        cas de suspension ou de fermeture du Compte par l’Utilisateur ou par DEZEIRAUD
        Gaëtan.
    </p>

    <h1><a name="_Toc470719216"></a><a name=4></a>4. Services payants</h1>

    <p class=MsoNormal>
        La plupart des services proposés par DEZEIRAUD Gaëtan sont
        gratuits.
    </p>

    <p class=MsoNormal>
        Toutefois,&nbsp;certains bonus, options, accès et autres
        services peuvent être payants. L’Utilisateur qui souhaite accéder à ces
        services devra donc effectuer un paiement à DEZEIRAUD Gaëtan.
    </p>

    <p class=MsoNormal>
        Différents moyens de paiement sont proposés à l'Utilisateur.
        Le prix et les éléments obtenus peuvent varier selon le moyen de paiement
        choisi. Ces informations sont indiquées à l'Utilisateur dans la section lui
        permettant d'effectuer son paiement.
    </p>

    <h2><a name="_Toc470719217"></a><a name=4.1></a>4.1. Paiement.</h2>

    <p class=MsoNormal>
        Lorsque vous avez choisi un moyen de paiement, vous devez
        être autorisé à utiliser cette méthode de paiement et vous vous engagez à
        fournir des informations valides, exactes et à jour.
    </p>

    <p class=MsoNormal>
        Si vous interrompez l'utilisation du Service ou si vous clôturez
        votre Compte, cela n'a aucune incidence sur les montants déjà facturés et il ne
        sera procédé à aucun remboursement.
    </p>

    <p class=MsoNormal>
        Si DEZEIRAUD Gaëtan détecte un paiement frauduleux depuis
        votre Compte, il sera suspendu par DEZEIRAUD Gaëtan de façon définitive.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan ou ses prestataires de paiement peuvent
        limiter l'accès à certains moyens de paiement par mesure de précaution, suite à
        une utilisation suspecte de tentative de fraude.
    </p>

    <p class=MsoNormal>
        Vous aurez la possibilité de vérifier le détail de votre
        achat et son prix total, et de corriger d'éventuelles erreurs, avant de
        confirmer celui-ci pour exprimer votre acceptation.
    </p>

    <h2><a name="_Toc470719218"></a><a name=4.2></a>4.2. Tarifs.</h2>

    <p class=MsoNormal>
        Vous trouverez les prix détaillés du Service dans la section
        de paiement du Service.
    </p>

    <p class=MsoNormal>
        Certains frais ne sont pas dépendants de DEZEIRAUD Gaëtan ou
        de ses prestataires de paiements. Ces frais peuvent être liés aux services des
        opérateurs de télécommunication et échange de devises, par exemple. DEZEIRAUD
        Gaëtan prévient dans la mesure du possible lorsque des frais supplémentaires
        peuvent être rajoutés au prix final.
    </p>

    <p class=MsoNormal>
        Nous pouvons changer occasionnellement le tarif du Service
        et vous serez averti par une communication globale sur le Service.
    </p>

    <p class=MsoNormal>
        Les tarifs et offres proposés par DEZEIRAUD Gaëtan sont
        valables pendant toute la durée de leur mise en ligne.
    </p>

    <p class=MsoNormal>
        Si votre offre de Service fait l'objet d'un tarif et d'une
        durée spécifique et que nous modifions le tarif du Service, le tarif d'origine
        reste en vigueur pendant toute la durée spécifiée.
    </p>

    <h2>
        <a name="_Toc470719219"></a><a name=4.3></a>4.3. Délai de rétractation et
        politique de remboursement.
    </h2>

    <p class=MsoNormal>
        Vous disposez d'un délai de quatorze jours francs pour
        exercer votre droit de rétractation sans avoir à justifier de motifs ni à payer
        de pénalités. Ce délai court à compter de l'acceptation de l'offre pour les
        prestations de services, conformément à l'article L121-21 du code de la
        consommation.
    </p>

    <p class=MsoNormal>
        Lorsque ce droit est exercé, les sommes payées vous seront
        remboursées dans un délai maximal de trente jours.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan attire l’attention de l’Utilisateur sur le
        fait qu’en vertu de l’article L121-21-5 du code de la consommation, aucun délai
        de rétractation ne sera accordé si, avec son accord, l’exécution du Service a
        commencé avant l’expiration du délai de quatorze jours francs.
    </p>

    <p class=MsoNormal>Les demandes de remboursement devront être envoyées&nbsp;:</p>

    <p class=MsoNormal>Par l'intermédiaire du Service de support (gaetan.dezeiraud@outlook.com)</p>

    <p class=MsoNormal>
        Ou par courrier, à l’adresse suivante&nbsp;:<br>
        DEZEIRAUD Gaëtan<br>
        Impasse Edith Piaf<br>
        87220 Boisseuil<br>
        FRANCE&nbsp;
    </p>

    <p class=MsoNormal>
        Les demandes doivent impérativement contenir les coordonnées
        du demandeur, l'objet et la date du paiement, le moyen de paiement utilisé, le
        Service et l'identifiant du Compte Utilisateur concerné, ainsi qu'un
        justificatif de paiement (facture ou reçu par exemple) si celui-ci n'a pas été
        effectué par Carte bancaire ou Paypal.
    </p>

    <p class=MsoNormal>
        Les demandes incomplètes, ou hors délai ne donneront lieu à
        aucun remboursement.
    </p>

    <h2><a name="_Toc470719220"></a><a name=4.4></a>4.4. Mineurs.</h2>

    <p class=MsoNormal>
        Les mineurs peuvent utiliser le Service, sous l’entière
        responsabilité de leur représentant légal.
    </p>

    <p class=MsoNormal>
        Le mineur qui utilise le Service ne devra effectuer de
        paiement qu’en présence et avec l’accord exprès de son représentant légal.
    </p>

    <p class=MsoNormal>
        Aucun(e) recours/réclamation, notamment quant à des
        paiements, n'est recevable auprès de DEZEIRAUD Gaëtan.
    </p>

    <h1>
        <a name="_Toc470719221"></a><a name=5></a>5. Utilisation du Service en
        période de test (« bêta-test »)
    </h1>

    <p class=MsoNormal>
        Pendant la phase de bêta-test l'Utilisateur est invité à effectuer
        de façon volontaire et bénévole un retour sur le Service afin d'aider à la
        finalisation du Service avant sa mise en ligne opérationnelle. Il s'engage à ne
        dévoiler aucun contenu du Service pendant cette période et il accepte que le
        Service soit soumis à des modifications et interruptions étant donné le
        contexte d'expérimentation. L'Utilisateur reconnaît qu'il n'aura droit à aucun
        dédommagement suite à sa collaboration pendant la phase « bêta-test ».
    </p>

    <h1><a name="_Toc470719222"></a><a name=6></a>6. Contenu soumis par vous</h1>

    <p class=MsoNormal>
        Vous pouvez éditer du contenu, dans certaines parties du
        Service prévu à cet effet.
    </p>

    <p class=MsoNormal>
        Cette édition peut avoir lieu dans des zones accessibles à
        tous, (comme par exemple, le forum de jeu ou la fiche publique de
        l'Utilisateur), ou dans des zones pour lesquelles vous pouvez contrôler l'accès
        par des tiers (comme par exemple, la messagerie privée ou un regroupement de
        joueurs). Vous reconnaissez et acceptez que DEZEIRAUD Gaëtan ne contrôle ni
        n'assume le contenu que vous et des tiers mettez en ligne.
    </p>

    <p class=MsoNormal>
        Vous accordez à DEZEIRAUD Gaëtan, à titre gracieux, non
        exclusif, pour la durée de vos droits et pour le monde entier, l'autorisation,
        sur le Service :
    </p>

    <p class=MsoListParagraphCxSpFirst >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>d'utiliser, de modifier, de représenter, de reproduire, de
        distribuer et d'afficher votre contenu en relation avec le Service dont vous avez
        donné l'autorisation d'accès ;&nbsp;&nbsp;&nbsp;
    </p>

    <p class=MsoListParagraphCxSpLast >
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>de publier votre nom, avatar ou autre information que vous
        fournissez en relation avec le contenu.
    </p>

    <p class=MsoNormal>
        Si vous soumettez une photographie ou une autre image
        numérique, vous renoncez explicitement aux droits de confidentialité et de
        publicité relatifs à l'image, et autorisez DEZEIRAUD Gaëtan à la diffuser sur
        le Service.
    </p>

    <p class=MsoNormal>
        Vous êtes prié de respecter les droits des artistes,
        inventeurs et créateurs. Le contenu tel que la musique, les photos et les
        vidéos peut être protégé par droit d'auteur. Si vous partagez du contenu sur le
        Service d'une manière qui porte atteinte aux droits d'auteur, aux droits de
        propriété intellectuelle ou à la vie privée de tiers, vous contrevenez à ce
        contrat. Vous déclarez et garantissez que vous détenez tous les droits
        nécessaires pour accorder les autorisations mentionnées dans le présent article
        et que l'utilisation de ce contenu n'enfreint aucune loi. Nous pouvons refuser
        de publier votre contenu pour quelque soit la raison. Nous pouvons à tout moment
        retirer votre contenu du Service si vous contrevenez à ce contrat ou si nous
        annulons ou suspendons le Service.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan se réserve le droit de modifier les noms de
        Compte, les pseudos, les noms de personnages et les noms de regroupement
        d'Utilisateurs ne respectant pas les règles énoncées dans l'article
        d'Utilisation de Service (article 2). Le cas échéant DEZEIRAUD Gaëtan pourra
        également suspendre temporairement ou définitivement l'accès au Compte ou
        regroupement d'Utilisateurs sans préavis ni dédommagement.
    </p>

    <p class=MsoNormal>
        Si vous estimez qu’un contenu porte manifestement atteinte à
        vos droits, vous pouvez le signaler à DEZEIRAUD Gaëtan via le site de support (gaetan.dezeiraud@outlook.com)
        ou par un autre moyen spécifié dans le Service.
    </p>

    <p class=MsoNormal>
        Si nous estimons ce contenu manifestement illicite, nous
        procéderons à sa suppression.
    </p>

    <p class=MsoNormal>
        Compte tenu de l'intérêt général attaché à la répression des
        activités illégales, DEZEIRAUD Gaëtan a mis en place, un dispositif accessible
        à l’adresse&nbsp;gaetan.dezeiraud@outlook.com. Cela permet aux Utilisateurs de
        signaler les services de communication au public en ligne tenus pour
        répréhensibles par les autorités publiques compétentes en la matière. DEZEIRAUD
        Gaëtan informe également des risques encourus par l'Utilisateur du fait d'actes
        de jeux réalisés en violation de la loi.
    </p>

    <h1><a name="_Toc470719223"></a><a name=7></a>7. Confidentialité</h1>

    <p class=MsoNormal>
        Afin de faire fonctionner et de fournir le Service, nous
        collectons certaines informations vous concernant. Nous protégeons ces
        informations.
    </p>

    <p class=MsoNormal>
        Vous êtes informés que vos données personnelles pourront
        être communiquées à des tiers pour répondre à des exigences légales ou
        règlementaires. Par ailleurs, les informations vous concernant pourront être
        utilisées afin d’agir en toute bonne foi lorsqu’un tel accès ou divulgation
        semble nécessaire pour protéger la sécurité personnelle des employés de DEZEIRAUD
        Gaëtan, des clients ou du public.
    </p>

    <p class=MsoNormal>
        Les données personnelles recueillies par DEZEIRAUD Gaëtan
        sont principalement stockées et utilisées en France, mais elles peuvent
        également être stockées ou utilisées dans n'importe quel autre pays où DEZEIRAUD
        Gaëtan ou un de ses prestataires dispose de serveurs.
    </p>

    <p class=MsoNormal>
        Afin de vous fournir le Service et d'améliorer le Service,
        nous, ou nos prestataires, pouvons collecter certaines informations relatives
        aux performances du Service, à l'utilisation que vous faites du Service et à
        votre équipement.
    </p>

    <p class=MsoNormal>
        Certaines données vous concernant peuvent être communiquées
        à nos prestataires uniquement dans le cadre d'un besoin lié au fonctionnement
        technique ou commercial du Service. En dehors de ce cadre, DEZEIRAUD Gaëtan
        s'engage à ne pas distribuer, diffuser ou transmettre sous aucune forme ni
        publier vos informations à des filiales, revendeurs, fournisseurs ou d'autre
        tiers.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan s'engage à respecter la sécurité de la collecte,
        l'utilisation et la rétention de vos informations et données personnelles.
    </p>

    <p class=MsoNormal>
        Pour le bon fonctionnement de nos sites Internet et de nos
        applications, nous pouvons utiliser des cookies. Il s'agit de petits fichiers
        stockés par une application ou un navigateur Internet. En utilisant nos
        services vous acceptez l'utilisation de ces cookies.
    </p>

    <p class=MsoNormal>
        En application de la loi n°78-17 du 6 janvier 78 relative à
        l'informatique, aux fichiers et aux libertés, modifiée par la loi n°2004-801 du
        6 août 2004 du territoire français, les Utilisateurs disposent des droits
        d’accès, d'opposition (art.38 de la loi), d'interrogation (art.39 de la loi),
        et de rectification/suppression (art.40 de la loi) des données à caractère
        personnel les concernant. Vous pouvez exercer votre droit en nous contactant
        par voie postale et en indiquant vos noms, prénoms, adresse électronique et
        adresse de votre domicile et en justifiant de votre identité. Les demandes
        doivent être adressées à l’adresse indiquée précédemment.
    </p>

    <h1><a name="_Toc470719224"></a><a name=8></a>8. Propriété intellectuelle</h1>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan est titulaire de droits d’auteur sur le
        Service et son contenu, dont les logiciels et bases de données, ainsi que
        titulaire du droit&nbsp;sui generis&nbsp;de producteur de base de données.
    </p>

    <p class=MsoNormal>
        L’ensemble des éléments constituant le Service notamment les
        marques, noms de domaines, textes, données, structure, arborescence, thésaurus,
        rubriques, logos, graphismes, images, photographies, noms, jeu, personnage
        ainsi que le Service lui-même, sont la propriété exclusive de DEZEIRAUD Gaëtan.&nbsp;
    </p>

    <p class=MsoNormal>
        Toute extraction, réutilisation, représentation,
        reproduction, exploitation, adaptation, traduction, modification, vente, du
        Service et de tout ou partie de son contenu est interdit, sauf autorisation
        expresse et préalable de DEZEIRAUD Gaëtan.&nbsp;
    </p>

    <p class=MsoNormal>
        A ce titre, l’Utilisateur s’interdit notamment de
        communiquer à tous tiers, gracieusement ou non, les données extraites&nbsp;du
        Service, y compris à une autre entité liée à lui administrativement,
        financièrement ou capitalistiquement.
    </p>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan peut enfin librement modifier la
        présentation du Service et de son contenu.
    </p>

    <p class=MsoNormal>
        Tous les éléments, fonctionnalités, outils, documents qui
        font partie du Service fourni par DEZEIRAUD Gaëtan (de façon non limitative le
        jeu, le client, les personnages, les comptes de jeu, les objets, la charte
        graphique, les logos, les musiques, les logiciels, les serveurs, etc.) sont
        protégés par les lois françaises et internationales sur le droit d'auteur et la
        propriété intellectuelle et appartiennent à DEZEIRAUD Gaëtan. Vous ne pouvez
        pas utiliser ces éléments sans l'autorisation écrite préalable de DEZEIRAUD
        Gaëtan.
    </p>

    <p class=MsoNormal>
        Vous n'avez pas le droit, en tout ou partie, de copier,
        reproduire, traduire, extraire, modifier le code source, désassembler,
        décompiler, modifier, louer, vendre, distribuer ou créer des œuvres dérivées
        inspirées du Service ou du contenu sans l'accord écrit préalable de DEZEIRAUD
        Gaëtan. Le reverse engineering est strictement prohibé.
    </p>

    <h1>
        <a name="_Toc470719225"></a><a name=9></a>9. Fonctionnement du Service et
        équipement
    </h1>

    <h2><a name="_Toc470719226"></a><a name=9.1></a>9.1. Restrictions techniques.</h2>

    <p class=MsoNormal>
        Vous ne devez pas chercher à contourner les restrictions
        techniques du Service. Il vous est interdit de décompiler, de créer des œuvres
        dérivées, de rétroconcevoir, de modifier, de sous-licencier, de distribuer ou
        d'utiliser le Service à d'autres fins que celles autorisées par DEZEIRAUD
        Gaëtan. La violation de la présente disposition peut entraîner la fermeture
        définitive de votre Compte et/ou de votre capacité à accéder au Service. DEZEIRAUD
        Gaëtan peut entreprendre une action juridique contre l'Utilisateur qui porte
        atteinte à la sécurité du réseau ou des systèmes DEZEIRAUD Gaëtan.
    </p>

    <h2>
        <a name="_Toc470719227"></a><a name=9.2></a>9.2. Fermeture temporaire du
        Service.
    </h2>

    <p class=MsoNormal>
        DEZEIRAUD Gaëtan peut interrompre temporairement, sans ou
        avec message préalable, l'accès à tout ou une partie du Service, pour n'importe
        quelle raison, mais notamment en cas de maintenance automatique ou manuelle.
    </p>

    <p class=MsoNormal>
        Vous ne pouvez réclamer aucun dommage-intérêt, pour perte de
        bénéfices relatifs au Service ou pas, spécial, indirect, accessoire ou punitif
        suite à une fermeture temporaire du Service.
    </p>

    <h2>
        <a name="_Toc470719228"></a><a name=9.3></a>9.3. Modifications et
        annulation du Service.
    </h2>

    <p class=MsoNormal>
        Nous pouvons modifier le Service dans son intégralité ou
        certaines fonctionnalités, certains jeux ou tout autre contenu à tout moment,
        pour quelque raison que ce soit (ou sans motif) et sans préavis.
    </p>

    <p class=MsoNormal>
        Nous pouvons fermer totalement et de façon définitive le
        Service pour quelque raison que ce soit. Cependant DEZEIRAUD Gaëtan s'engage à
        respecter une période minimum de 12 mois consécutifs entre la fermeture des
        moyens de paiements et la fermeture définitive du Service. Cette période
        permettant aux Utilisateurs d'utiliser leurs crédits, bonus ou tout autre
        élément acquis par un moyen de paiement.&nbsp;
    </p>

    <p class=MsoNormal>
        Aucun remboursement ne sera procédé en cas de modification
        ou de fermeture du Service.
    </p>

    <p class=MsoNormal>
        Votre droit d'utiliser le Service expire dès la fermeture du
        Service. Une fois le Service fermé, il se peut que les données que vous avez
        stockées sur le Service ne soient pas récupérables ultérieurement.
    </p>

    <p class=MsoNormal>
        Notre fermeture du Service n'affecte en rien votre
        obligation de payer tous les frais imputés à votre Compte de facturation pour
        les montants encourus avant la fermeture du Service.
    </p>

    <h1>
        <a name="_Toc470719229"></a><a name=10></a>10. Modalités de modification du
        contrat
    </h1>

    <p class=MsoNormal>
        Nous pouvons modifier le présent contrat. Si nous modifions
        le présent contrat, nous vous informerons avec un préavis de sept (7) jours
        francs. Les mentions légales peuvent être modifiées à tout moment : elles
        s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus
        souvent possible afin d’en prendre connaissance.
    </p>

    <p class=MsoNormal>
        Le fait de continuer à utiliser le Service vaudra accord et
        acceptation du nouveau contrat de votre part.
    </p>

    <p class=MsoNormal>
        Si vous n'acceptez pas le Contrat, vous avez le droit de
        fermer votre Compte à tout moment et pour quelque raison que ce soit. Consulter
        l'article 3.5 pour plus de détails.
    </p>

    <h1>
        <a name="_Toc470719230"></a><a name=11></a>11. Nous ne fournissons aucune
        garantie
    </h1>

    <p class=MsoNormal>
        Nous fournissons le Service « en l'état », « avec toutes ses
        imperfections » et « tel que disponible ». Nous ne garantissons pas
        l'exactitude ni l'opportunité des informations disponibles à partir du Service.
        Vous reconnaissez et acceptez que les systèmes informatiques et de
        télécommunication ne sont pas exempts de défauts et que des temps d'arrêt
        peuvent survenir. Nous ne pouvons pas garantir que le Service sera
        ininterrompu, opportun, ou sans erreur. Nous et aucun de nos prestataires de
        services ne donnons aucune garantie explicite ni aucune condition. Vous
        bénéficiez de toutes les garanties prévues par la loi, mais nous ne fournissons
        aucune autre garantie. Nous excluons toutes les garanties implicites, notamment
        celles relatives à la qualité marchande, à l'adéquation à un usage particulier,
        à l'absence de défauts de fabrication et à l'absence de contrefaçon.
    </p>

    <h1><a name="_Toc470719231"></a><a name=12></a>12. Limitation de responsabilité</h1>

    <p class=MsoNormal>
        Dans la mesure permise par la législation française en
        vigueur, en cas de réclamation, vous pouvez uniquement obtenir auprès de DEZEIRAUD
        Gaëtan des dommages et intérêts qui ne pourront excéder le montant de vos
        différents achats effectués sur le Service. Vous ne pouvez prétendre à aucun
        autre dommage-intérêt, notamment consécutif, pour perte de bénéfices, spécial,
        indirect, accessoire ou punitif.
    </p>

    <h1><a name="_Toc470719232"></a><a name=13></a>13. Droit applicable</h1>

    <p class=MsoNormal>
        Le présent contrat est soumis à la loi Française, sans
        préjudice des dispositions impératives de la convention de Rome 80/934/CEE.
    </p>

    <p class=MsoNormal>&nbsp;</p>

</div>